body, html {
  background-color:#333;
  height:100%;
}

.fluid, .render-target {
  height:100%;
}

.navbar {
  border:none;
  margin-bottom:0px;
  border-radius:0px;
  background-color:#C8CBD2;
}

.navbar-brand {
  background-color:ghostwhite;
}

.flex-container {
  display:flex;
  height:100%; /*600px*/
}

.flex-child {
  width: 50%;
  height:100%;
  background-color: #2E3444;
  border-right: 1px solid #2c2c2c;
}
